<%= form_for @initiative, :html => { :multipart => true }, :class => "bp_form" do |f| %>
  <% if @initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
      <% @initiative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:preview_button] %>
	<%= render :partial => "layouts/previews", :locals => { :bill => @initiative } %>
  <% end %>
  <div class="field">
	<%= f.label t('layout.choose_level') %><br />
	<%= f.select :level, Initiative::LEVELS.collect {|l| [l, Initiative::LEVELS.index(l)]} %>
  </div>
<br /><br /><br />
<div class="photo-field">
	<%= f.label t('layout.choose_photo') %><br />
    <%= f.file_field :photo %>
  </div>
<br /><br /><br />


  <div class="field">
    <%= f.label t("name_#{I18n.locale}") %><br />
    <%= f.text_field "name_#{I18n.locale}" %><br />
  
    <%= f.label t("content_#{I18n.locale}") %><br />
    <%= f.textile_editor "content_#{I18n.locale}" %>
  </div>
<br /><br /><br />

<div id="translations_show_container"><a id="translations_show" class="button"><%= t("layout.show_translations") %></a></div>
<div id="translations_hide_container"><a id="translations_hide" class="button"><%= t("layout.hide_translations") %></a></div>

<div id="bill_translation">
<% @not_lang.each do |l| %>
<div class="field">
    <%= f.label t("name_#{l}") %><br />
    <%= f.text_field "name_#{l}" %><br />
 
    <%= f.label t("content_#{l}") %><br />
    <%= f.textile_editor "content_#{l}" %>
  </div>
<br /><br /><br />
<% end %>
</div>

<div class="checkboxes-field">
<h4><%= t('initiatives.categories') %></h4>
<div class="list">
  <% for c in Category.all %>
	<%=	radio_button_tag "category", eval("c.name_#{I18n.locale}"), (@initiative.category == c) %>
	<%= label_tag eval("c.name_#{I18n.locale}"),image_tag(c.photo.url("thumbnail"))  %>
	<%= eval("c.name_#{I18n.locale}") %>
	<br/><br/>
	<% end %>
</div>
</div>

<br />
<br />
<div class="field">
	<div class="recaptcha">
<%= recaptcha_tags %>
</div>
</div>
  <div class="actions">
    <%= f.submit %>
	<%= submit_tag t('initiatives.preview'), :name => 'preview_button' %>
  </div>
<% end %>
