<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brainstorm_id %><br />
    <%= f.text_field :brainstorm_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :content_en %><br />
    <%= f.text_area :content_en %>
  </div>
  <div class="field">
    <%= f.label :content_fr %><br />
    <%= f.text_area :content_fr %>
  </div>
  <div class="field">
    <%= f.label :content_nl %><br />
    <%= f.text_area :content_nl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
