<p id="notice"><%= notice %></p>

<p>
  <b>Brainstorm:</b>
  <%= @idea.brainstorm_id %>
</p>

<p>
  <b>User:</b>
  <%= @idea.user_id %>
</p>

<p>
  <b>Content en:</b>
  <%= @idea.content_en %>
</p>

<p>
  <b>Content fr:</b>
  <%= @idea.content_fr %>
</p>

<p>
  <b>Content nl:</b>
  <%= @idea.content_nl %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
