<%= form_for @argument, :url => {:action => @action, :argumentable => @argumentable.class.name, :argumentable_id => @argumentable.id} do |f| %>
<% if @argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@argument.errors.count, "error") %> prohibited this argument from being saved:</h2>

      <ul>
      <% @argument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div class="field">
<%= f.label t(:new_arg_title) %>:<br>
<%= f.text_field :title %>

<%= f.textile_editor :content %>
</div>
<div class="field">
	<div class="recaptcha">
<%= recaptcha_tags %>
</div>
</div>
<div class="actions">
<%= f.submit t(:submit_str) %>
</div>
<% end %>


