<% form_for @argument, :url => {:controller => :arguments, :action => :create, :argumentable => @argumentable.class.name, :argumentable_id => @argumentable.id, :pro => true}, :html => { :method => :put } do |f| %>
<% if @argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@argument.errors.count, "error") %> prohibited this argument from being saved:</h2>

      <ul>
      <% @argument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
<%= f.label t(:new_pro) %><br>
<%= f.textile_editor :content %>
</div>

<%= f.submit t(:submit_str) %>
<% end %>
<%= raw textile_editor_initialize(:framework => :jquery) -%>

