
<div id="bill-header">
	<%= title t(:point_of_view_title) %></h2>
	<div id="bill-header-icon"><%= link_to image_tag(@author.photo, :size => "80x80", :class => "user-image"), user_path(@author) %></div>
	<div id="bill-header-name"><h3><%= @argument.title.capitalize %></h3></div>
	
</div>
<div class="clear"></div>
<div id="bill-sidebar">
	<div id="bill-vote">
	<% if user_signed_in? %>
	<%= raw vote_options(current_user,@argument) %>
	<% end %>
	</div>
	<div class="clear"></div>
	<div id="bill-score">
	<%= pluralize(@argument.tally_all_votes,t("initiatives.votes")) %>
	<% unless @argument.percent_approval.nan? %>
		, <%= @argument.percent_approval.to_i %>% <%= t("initiatives.approval") %>
		<%= raw score_meter(@argument.percent_approval/100.0,120) %>
	<% end %>
	</div>
</div>
<div id="bill-content">
	<div class="border-div">
	<div class="bill-text">
		<%= raw RedCloth.new(@argument.content).to_html %>
		<%= link_to t('amendments.back'), @argumentable, :class => "link" %>
		
	</div>
	<%= link_to t(:arg_exclude_str), {:controller => :arguments, :action => :exclude_argument, :id => @argument.id}, :class => "button" %>
	
	<% if permitted_to? :destroy, @argument %>
		<%= link_to t(:delete_str), @argument, :method => :delete, :confirm => 'delete', :class => "button" %>
	<% end %>

	<% if permitted_to? :edit, @argument %>
		<%= link_to t(:edit_arg), eval("edit_#{@argument.argumentable_type.downcase}_argument_path(@argument.argumentable_type.constantize.find_by_id(@argument.argumentable_id), @argument)"), :class => "button" %>
	<% end %>
	<br />
	<% if @argument.exclusion_requests > 0 %>
		<%= t(:exclusion_requests_str) %>
		<% @argument.exclusions.each do |l| %>
			<span style="color:#F00">X</span>
		<%end %>
	<% end %>
	</div>
	
</div>
<div class="clear"></div>

<div id="bill-footer">
<%= render :partial => "layouts/comments", :locals => { :commentable => @argument } %>
</div>

<%= link_to t('referendums.back'), @argumentable, :class => "button" %>