<% @loc = 'devise.registrations.' %>

<% title(t(@loc+'edit')) %>
<% if (current_user.displayName.blank? || current_user.displayName=='anonymous') %>
<%= t(@loc+'update_name_text') %>
<% end %>

<%= form_for(resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label t(@loc+'name') %></p>
  <p><%= f.text_field :displayName %></p>

  <p><%= f.label t(@loc+'email') %></p>
  <p><%= f.text_field :email %></p>

  <p><%= label_tag t(@loc+'postalcode') %></p>
  <p><%= text_field_tag :postal_code %></p>

  <p><%= f.label t(@loc+'photo') %></p>
  <p><%= f.text_field :photo %></p>

<% if @user.password_required? %>
  <p><%= f.label t(@loc+'pwd') %> <i>(<%= t(@loc+'pwd_i') %>)</i></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label t(@loc+'pwd_conf') %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.label t(@loc+'cur_pwd') %> <i>(<%= t(@loc+'cur_pwd_i') %>)</i></p>
  <p><%= f.password_field :current_password %></p>
<% end %>

  <p><%= f.submit t(@loc+'update') %></p>
<% end %>

<h3><%= t(@loc+'cancel') %></h3>

<p><%= t(@loc+'unhappy') %> <%= link_to t(@loc+'cancel'), registration_path(resource_name), :confirm => t('devise.confirm'), :method => :delete %>.</p>

<%= link_to t('devise.back'), :back %>
