<% @loc = 'devise.registrations.' %>

<%= title t(@loc+'title') %>

<h3><%= t(@loc+'intro') %></h3>

<%= form_for(resource_name, resource, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="field">
  <p><%= f.label t(@loc+'name') %></p>
  <p><%= f.text_field :displayName %></p>

  <p><%= f.label t(@loc+'email') %></p>
  <p><%= f.text_field :email %></p>

<% if @user.password_required? %>
  <p><%= f.label t(@loc+'pwd') %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label t(@loc+'pwd_conf') %></p>
  <p><%= f.password_field :password_confirmation %></p>
<% end %>
</div>
<div class="actions">
  <p><%= f.submit t(@loc+'title') %></p>
</div>
<% end %>


<%= render :partial => "devise/shared/links" %>
