<p id="notice"><%= notice %></p>

<%= title @candidate.name %>
	<% if @candidate.level == "4" %>
		<%= t("#{params[:controller]}.level4") %>
	<% end %>
	<% if @candidate.level == "3" %>
	<%= link_to @candidate.region.name, root_url(:host => @candidate.region.name.strip + '.' + request.domain + request.port_string), :class => "link" %>
	<% end %>
	<% if @candidate.level == "2" %>
	<%= link_to @candidate.province.name, root_url(:host => @candidate.province.name.strip + '.' + request.domain + request.port_string), :class => "link" %>
	<% end %>
	<% if @candidate.level == "1" %>
	<%= link_to @candidate.commune.name, root_url(:host => @candidate.commune.name.strip + '.' + request.domain + request.port_string), :class => "link" %>
	<% end %>

<table>
	<tr>
		<td>&nbsp;</td>
		<td>
			<%= image_tag @candidate.photo.url(:small) %>
		</td>
		<td>
			<table>
			<tr>
				<td><%= raw eval("@candidate.bios[0].content_#{I18n.locale}") %></td>
			</tr>
			<tr>
				<td><%= link_to eval("@candidate.bios[0].wiki_#{I18n.locale}") %></td>
			</tr>
			</table>
		</td>
		<td>
		</td>
	</tr>
</table>


<%= link_to t('candidates.edit'), edit_candidate_path(@candidate), :class => "button" %> |
<%= link_to t('candidates.index'), candidates_path, :class => "button" %>
