<p id="notice"><%= notice %></p>

<%= title @candidate.name %>
<table>
	<tr>
		<td>&nbsp;</td>
		<td>
			<%= image_tag @candidate.photo.url(:small) %>
		</td>
		<td>
			<table>
			<tr>
				<td><%= raw eval("@candidate.bios[0].content_#{I18n.locale}") %></td>
			</tr>
			<tr>
				<td><%= link_to eval("@candidate.bios[0].wiki_#{I18n.locale}") %></td>
			</tr>
			</table>
		</td>
		<td>
		</td>
	</tr>
</table>


<%= link_to t('candidates.edit'), edit_candidate_path(@candidate), :class => "button" %> |
<%= link_to t('candidates.index'), candidates_path, :class => "button" %>
