
<table>
	<tr>
		<td><%= title @user.displayName %></td>
		<% unless @user.photo.blank? %>
			<td><%= image_tag(@user.photo) %> </td>
		<% end %>	
		<% if current_user == @user %>
			<% if @user.delegate.nil? %>
				<td><%= link_to t('users.delegates.choose_delegate'), delegates_path %></td>
				<td><%= button_to(t('users.delegates.create_delegate'), {:controller => :delegates, :action => :create, :user_id => @user.id}, :confirm => t('users.delegates.confirm')) %></td>
			<% else %>
				<td><%= t('users.delegates.active_delegate') %>
					<% if permitted_to? :destroy, @user.delegate %>
						<%= button_to t('users.delegates.destroy_delegate'), delegate_path(@user.delegate), {:method => :delete} %></td>
					<% end %>
			<% end %>
		<% else %>
			<%= raw(delegate_button(@user)) %>
		<% end %>
	</tr>
	
</table>
<div>
	<% unless @user.delegate.blank? %>
		<p><%= @user.delegate.delegations.count %> <%= t('users.delegates.delegated_votes') %></p>
	<% end %>
	<% unless @user.delegation.blank? %>
		<% @deleg = Delegate.find_by_id(@user.delegation.delegate_id).user %>
		<p><%= t('users.delegates.votes_delegated') %><%= @deleg.displayName %> 
		<% unless @deleg.photo.blank? %><%= link_to image_tag(@deleg.photo), @deleg %><% end %>
		</p>
	<% end %>

	<br>
	<% if @user.delegate.nil? %>
		<%= @user.votes.count %> <%= t('users.delegates.votes') %>
	<% else %>
		<p><%= t('users.delegates.votes').capitalize %>:</p>
		<table>
			<% Referendum.all.each do |r| %>
			<tr>
				<td></td>
					<td><%= t('users.delegates.ref') %> <%= link_to eval("r.name_#{I18n.locale}"), r %>: </td>
				<% unless @user.delegate.voted_on?(r) %>
					<td><%= t('users.delegates.no_vote') %></td>
				<% end %>
				<% if @user.delegate.voted_for?(r) %>
					<td><span class="aye bill_nosupport"></span> </td>
				<% end %>
				<% if @user.delegate.voted_against?(r) %>
					<td><span class="nay bill_nosupport"></span> </td>
				<% end %>
				
			</tr>
			<% end %>
		</table>
	<% end %>
</div>
<br>
<br>
<div><%= @user.arguments.count %> <%= t('users.delegates.point_of_view') %>: 
	<ul>
		<% @user.arguments.each_with_index do |arg, index| %>
		<li><%= link_to arg.title, arg %></li>
		<% end %>
	</ul>
</div>
<br>
<br>
	<p><%= @user.comments.count %> <%= t('users.delegates.comments') %></p>
<% if permitted_to? :edit, @user %>
	<%= link_to t('users.edit'), edit_user_registration_path %>
<% end %>