
<div id="bill-header">
	<div id="bill-header-icon">
		<% unless @user.photo.blank? %>
			<p><%= image_tag(@user.photo, :size => "80x80") %> </p>
		<% end %>
	</div>
	<div id="bill-header-name"><p><%= title @user.displayName %></p></div>
</div>

<div id="index-content">
	<div id="index-large-column" style="height:50px;">
		<% if current_user == @user %>
			<% if @user.delegate.nil? %>
				<p><%= link_to t('users.delegates.choose_delegate'), delegates_path, :class => "link" %></p>
				<p><%= button_to(t('users.delegates.create_delegate'), {:controller => :delegates, :action => :create, :user_id => @user.id}) %></p>
			<% else %>
				<h5><%= t('users.delegates.active_delegate') %></h5>
				<% if permitted_to? :destroy, @user.delegate %>
					<%= button_to t('users.delegates.destroy_delegate'), delegate_path(@user.delegate), {:method => :delete} %>
				<% end %>
			<% end %>
		<% else %>
			<div class="button"><%= raw(delegate_button(@user)) %></div>
		<% end %>
	</div>
	<div id="index-column"></div>
	<div id="index-large-column" style="height:50px;padding-bottom:30px;">
	<% unless @user.delegate.blank? %>
		<h5><%= pluralize(@user.delegate.delegations.count,t('users.delegates.delegated_votes')) %></h5>
	<% end %>
	<% unless @user.delegation.blank? %>
		<% @deleg = Delegate.find_by_id(@user.delegation.delegate_id).user %>
		<h5><%= t('users.delegates.votes_delegated') %><%= @deleg.displayName %> </h5>
		<% unless @deleg.photo.blank? %>
			<%= link_to image_tag(@deleg.photo, :size => "40x40",:class => "user-image"), @deleg %>
		<% end %>
		
	<% end %>
	</div>
	<div class="clear"></div>
	<br/><br/>
	<div id="index-element">
	<h3><%= t("layout.private_activity")%></h3>
	<br />
	<h4><%= pluralize(@user.rankings.count,t('users.votes')) %></h4>
	</div>
	<br/><br/><br/>
	
	<h3><%= t("layout.public_activity")%></h3>
	<% unless @user.delegate.nil? %>
		
		<h4><%= t("users.delegates.votes_as_a_delegate") %></h4>
		<% Referendum.filter_phase(Referendum.all,4,5).each do |r| %>
		<div id="ranking-index-element">
			<% if r.rankings.for_ranker(@user.delegate).empty? %>
			<div id="ranking-index-large-column" class="no_vote">
				<%= link_to eval("r.name_#{I18n.locale}"), r, :class => "link" %> <p><%= t('users.delegates.no_vote') %></p>
			</div>
			<% else %>
				<div id="ranking-index-date"><%= r.rankings.for_ranker(@user.delegate)[0].updated_at.strftime("%e %B, %Y") %></div>
				<% Ranking.all_related_bills_sorted(r,@user.delegate).each do |a| %>
					<% unless a.rankings.for_ranker(@user.delegate)[0].nil? %>
					<div id="ranking-index-large-column">
						<div id="ranking-index-score"><%= a.rankings.for_ranker(@user.delegate)[0].rank %></div>
						<%= link_to eval("a.name_#{I18n.locale}"), a, 
							:class => "link vote_#{a.rankings.for_ranker(@user.delegate)[0].rank>0} neutral_#{a.rankings.for_ranker(@user.delegate)[0].rank==0}" %>
					</div>
					<div class="clear"></div>
					<% end %>
				<% end %>
				
			<% end %>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<% end %>
	
		
		<% Initiative.filter_phase(Initiative.all,4,5).each do |r| %>
		<div id="ranking-index-element">
			<% if r.rankings.for_ranker(@user.delegate).empty? %>
			<div id="ranking-index-large-column" class="no_vote">
				<%= link_to eval("r.name_#{I18n.locale}"), r, :class => "link" %> <p><%= t('users.delegates.no_vote') %></p>
			</div>
			<% else %>
			<div id="ranking-index-date"><%= r.rankings.for_ranker(@user.delegate)[0].updated_at.strftime("%e %B, %Y") %></div>
					<% Ranking.all_related_bills_sorted(r,@user.delegate).each do |a| %>
						<div id="ranking-index-large-column">
							<div id="ranking-index-score"><%= a.rankings.for_ranker(@user.delegate)[0].rank %></div>
							<%= link_to eval("a.name_#{I18n.locale}"), a, 
							:class => "link vote_#{a.rankings.for_ranker(@user.delegate)[0].rank>0} neutral_#{a.rankings.for_ranker(@user.delegate)[0].rank==0}" %>
						</div>
						<div class="clear"></div>
					<% end %>
			<% end %>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<% end %>
		
	<% end %>
	
<div id="index-content" style="padding-top: 40px;">
<h4><%= pluralize(@user.initiatives.count,t('users.delegates.initiatives')) %> </h4>
	<% @user.initiatives.each_with_index do |arg, index| %>
	<div id="index-element" style="padding-top: 40px;">
		<div id="index-column" style="height:50px;">
			<% unless arg.validated? %>
				<%= image_tag("red-error.gif") %>
				<%= t(:not_valid) %>
			<% end %>
		</div>
		<div id="index-large-column" style="height:50px;text-align: left;">
			<% unless eval("arg.name_#{I18n.locale}.blank?") %>
				<%= link_to eval("arg.name_#{I18n.locale}"), arg, :class => "link" %>
			<% else %>
				<p><%= t('title_no_translation') %></p>
			<% end %>
		</div>
		<div id="index-large-column" class="bill-text-link">
			<% unless eval("arg.content_#{I18n.locale}.blank?") %>
				<p>"<%= link_to strip_tags(raw(truncate(eval("RedCloth.new(arg.content_#{I18n.locale}).to_html"), :length => 250))), arg %>"</p>
			<% else %>
				<p><%= t('text_no_translation') %></p>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
	<% end %>
</div>

<div id="index-content" style="padding-top: 40px;">
<h4><%= pluralize(@user.amendments.count,t('users.delegates.amendments')) %> </h4>
	<% @user.amendments.each_with_index do |arg, index| %>
	<div id="index-element" style="padding-top: 40px;">
		<div id="index-column" style="height:50px;">
			<% unless arg.validated? %>
				<%= image_tag("red-error.gif") %>
				<%= t(:not_valid) %>
			<% end %>
		</div>
		<div id="index-large-column" style="height:50px;text-align: left;"><%= link_to eval("arg.name_#{I18n.locale}"), arg, :class => "link" %></div>
		<div id="index-large-column" class="bill-text-link">
		<p>"<%= link_to strip_tags(raw(truncate(eval("RedCloth.new(arg.content_#{I18n.locale}).to_html"), :length => 250))), arg %>"</p>
		</div>
		<div class="clear"></div>
	</div>
	<% end %>
</div>
<div id="index-content" style="padding-top: 40px;">
<h4><%= pluralize(@user.arguments.count,t('users.delegates.point_of_view')) %> </h4>
	<% @user.arguments.each_with_index do |arg, index| %>
	<div id="index-element" style="padding-top: 40px;">
		<div id="index-column" style="height:50px;"></div>
		<div id="index-large-column" style="height:50px;text-align: left;"><%= link_to arg.title, arg, :class => "link" %></div>
		<div id="index-large-column" class="bill-text-link">
		<p>"<%= link_to truncate(arg.content, :length => 150), arg %>"</p>
		</div>
		<div class="clear"></div>
	</div>
	<% end %>
</div>
<div id="index-content" style="padding-top: 40px;">
	<h4><%= pluralize(@user.comments.count,t('users.delegates.comments')) %></h4>
<% if permitted_to? :edit, @user %>
	<%= link_to t('users.edit'), edit_user_registration_path, :class => "button" %>
<% end %>
</div>
</div>