
<%= title t('brainstorms.index_title') %>	

<table>

<% @brainstorms.each do |brainstorm| %>
  <% if brainstorm.ideas.count>0 %>
  <tr>
	<td><%= link_to image_tag(brainstorm.brainstormable.photo.url(:thumbnail)), brainstorm.brainstormable %></td>
	<td><%= link_to eval("brainstorm.brainstormable.name_#{I18n.locale}"), brainstorm.brainstormable, :class => "link"  %></td>
	<td class="bill-text-link"><%= link_to strip_tags(raw(truncate(eval("RedCloth.new(brainstorm.brainstormable.content_#{I18n.locale}).to_html"), :length => 200))), brainstorm.brainstormable %></td>
    <td><%= link_to t('layout.brainstorm'), {:controller => :ideas, :action => :index, "#{brainstorm.brainstormable_type}_id".to_sym => brainstorm.brainstormable_id }, :class => "button brainstorm" %></td>
  </tr>
<% end %>
<% end %>
</table>
