<%= form_for @referendum, :html => { :multipart => true } do |f| %>
  <% if @referendum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referendum.errors.count, "error") %> prohibited this referendum from being saved:</h2>

      <ul>
      <% @referendum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
	<%= f.label t('layout.choose_level') %><br />
	<%= f.select :level, Referendum::LEVELS.collect {|l| [l, Referendum::PHASES.index(l)]} %>
  </div>
<br /><br /><br />
<div class="field">
	<%= f.label t('layout.choose_photo') %><br />
    <%= f.file_field :photo %>
  </div>
<br /><br /><br />
  <div class="field">
    <%= f.label :name_in_english %><br />
    <%= f.text_field :name_en %>
  </div>
  <div class="field">
    <%= f.label :content_in_english %><br />
    <%= f.text_area :content_en %>
  </div>
<div class="field">
    <%= f.label :nom_en_français %><br />
    <%= f.text_field :name_fr %>
  </div>
  <div class="field">
    <%= f.label :texte_en_français %><br />
    <%= f.text_area :content_fr %>
  </div>
<div class="field">
    <%= f.label :naam_in_het_nederlands %><br />
    <%= f.text_field :name_nl %>
  </div>
  <div class="field">
    <%= f.label :text_in_het_nederlands %><br />
    <%= f.text_area :content_nl %>
  </div>
<p>Politicians</p>
  <div>
	<% for p in Politician.all %>
	<%= label_tag p.name %>
	<%=	check_box_tag p.name, p.name, (!@referendum.authorships.find_by_politician_id(p.id).nil?) %><br/>
	<% end %>
  </div>
<p>Categories</p>
  <div>
	<% for c in Category.all %>
	<%= label_tag eval("c.name_#{I18n.locale}") %>
	<%=	check_box_tag eval("c.name_#{I18n.locale}"), eval("c.name_#{I18n.locale}"), (@referendum.category == c) %><br/>
	<% end %>
  </div>
<br/> <br/> <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
