<h1>Listing referendums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @referendums.each do |referendum| %>
  <tr>
    <td><%= referendum.name %></td>
    <td><%= referendum.content %></td>
    <td><%= link_to 'Show', referendum %></td>
    <td><%= link_to 'Edit', edit_referendum_path(referendum) %></td>
    <td><%= link_to 'Destroy', referendum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Referendum', new_referendum_path %>
