<% title t('referendums.title') %>

<table>
<% @referendums.each do |referendum| %>
  <tr>
	<td><%= image_tag referendum.photo.url(:thumbnail) %></td>
    <td><%= eval("referendum.name_#{I18n.locale}") %></td>
	<td>(<%= referendum.votes_count %> <%= t('referendums.votes') %> , <%= vote_tally(referendum) %>% <%= t('referendums.approval') %>)</td>
	<td></td>
    
    <td><%= link_to t('referendums.show'), referendum %></td>
<% if permitted_to? :edit, referendum %>
    <td><%= link_to t('referendums.edit'), edit_referendum_path(referendum) %></td>
<% end %>
<% if permitted_to? :destroy, referendum %>
    <td><%= link_to t('referendums.destroy'), referendum, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<% if permitted_to? :create, Referendum.new %>
	<%= link_to t('referendums.new'), new_referendum_path %>
<% end %>