
<!--<%= title eval("@referendum.name_#{I18n.locale}") %>-->
<div style="float:right;">
	<%= t('referendums.author') %>
	<% for p in @referendum.politicians %>
	<%= link_to image_tag(p.photo.url(:thumbnail)), p %>
	<% end %>
</div>
<table>
	<tr>
		<td><%= image_tag @referendum.photo.url(:small) %></td>
		
		<% if !current_user.nil? %>
		<td>
		<% if current_user.voted_for?(@referendum) %>
			<%= link_to "aye", {:controller => :referendums, :action => :aye, :id => @referendum.id}, :class => 'aye bill_support' %>
		<% else %>
			<%= link_to "aye", {:controller => :referendums, :action => :aye, :id => @referendum.id}, :class => 'aye bill_nosupport' %>
	    <% end %>
			</td>
			<td>
		<% if current_user.voted_against?(@referendum) %>
			<%= link_to "nay", {:controller => :referendums, :action => :nay, :id => @referendum.id}, :class => 'nay bill_support' %>
		<% else %>
			<%= link_to "nay", {:controller => :referendums, :action => :nay, :id => @referendum.id}, :class => 'nay bill_nosupport' %>
	    <% end %>
		</td>
		<% end %>
		
		<td><%= raw score_meter(vote_tally(@referendum).to_f/100.0,120) %></td>
	</tr>
</table>
<%= raw eval("@referendum.content_#{I18n.locale}") %>

<%= render :partial => "layouts/arguments", :locals => { :commentable => @referendum } %>


<% if permitted_to? :edit, @referendum %>
<%= link_to t('referendums.edit'), edit_referendum_path(@referendum) %> |
<% end %>
<%= link_to t('referendums.back'), referendums_path %>
