<% title t('politicians.title') %>

<table>
<% @politicians.each do |politician| %>
  <tr>
	<td><%= link_to image_tag(politician.photo.url(:thumbnail)), politician %></td>
    <td><%= link_to politician.name, politician, :class => "link" %></td>
	
    
<% if permitted_to? :edit, politician %>
    <td><%= link_to t('politicians.edit'), edit_politician_path(politician), :class => "button" %></td>
<% end %>
<% if permitted_to? :destroy, politician %>
    <td><%= button_to t('politicians.destroy'), politician, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
<% if !politician.party.nil? %>
	<td> <%= link_to image_tag(politician.party.photo.url(:thumbnail)), politician.party %> </td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if permitted_to? :create, Politician.new %>
	<%= link_to t('politicians.new'), new_politician_path, :class => "button" %>
<% end %>
