<div id="index-content">
<table>
	<tr>
		<td><%= title @politician.name %></td>
		<% unless @politician.party.nil? %>
			<td><%= link_to image_tag(@politician.party.photo.url(:thumbnail)), @politician.party %></td>
		<% end %>
	</tr>
</table>
<table>
	<tr>
		<td>
			<%= image_tag @politician.photo.url(:small) %>
		</td>
		<td>
			<table>
			<tr>
				<td><%= raw eval("@politician.bios[0].content_#{I18n.locale}") %></td>
			</tr>
			<tr>
				<td><%= link_to eval("@politician.bios[0].wiki_#{I18n.locale}") %></td>
			</tr>
			</table>
		</td>
		<td>
		</td>
	</tr>
</table>


<div id="index-content">
	<h3><%= t('referendums.politicians.title') %></h3>
	<div class="clear"></div>
	<% @politician.referendums.each do |ref| %>
	<div id="index-column"></div>
  	<div id="index-column">
		<%= link_to image_tag(ref.photo.url(:thumbnail)), ref %>
	</div>
	<div id="index-large-column">
    	<p><%= link_to eval("ref.name_#{I18n.locale}"), ref, :class => "link" %></p>
	</div>
	<% end %>
	<div class="clear"></div>
</div>


<%= link_to t('politicians.edit'), edit_politician_path(@politician), :class => "button" %> |
<%= link_to t('politicians.index'), politicians_path, :class => "button" %>
</div>
