<p id="notice"><%= notice %></p>
<table>
	<tr>
		<td><%= title @politician.name %></td>
		<% unless @politician.party.nil? %>
			<td><%= link_to image_tag(@politician.party.photo.url(:thumbnail)), @politician.party %></td>
		<% end %>
	</tr>
</table>
<table>
	<tr>
		<td>
			<%= image_tag @politician.photo.url(:small) %>
		</td>
		<td>
			<table>
			<tr>
				<td><%= raw eval("@politician.bios[0].content_#{I18n.locale}") %></td>
			</tr>
			<tr>
				<td><%= link_to eval("@politician.bios[0].wiki_#{I18n.locale}") %></td>
			</tr>
			</table>
		</td>
		<td>
		</td>
	</tr>
</table>


<%= link_to t('politicians.edit'), edit_politician_path(@politician), :class => "button" %> |
<%= link_to t('politicians.index'), politicians_path, :class => "button" %>
