<%= title t('amendments.index_title') %>

<%= link_to t('amendments.index_drafts'), {:controller => "amendments", :action => "index_drafts", :id => Amendment.first.id} %>

<% @amendments.each do |amendment| %>

<div class="initiative_item">
	
<table>
  <tr>
	<td></td>
	<td><%= link_to image_tag(amendment.photo.url(:thumbnail)), amendment %></td>
    <td><%= link_to eval("amendment.name_#{I18n.locale}"), amendment %></td>
	<% unless amendment.percent_approval.nan? %>
	<td>(<%= amendment.tally_all_votes %> <%= t('amendments.votes') %> , <%= amendment.percent_approval.to_i %>% <%= t('amendments.approval') %>)</td>
	<td><%= raw score_meter(amendment.percent_approval/100.0,120) %></td>
	<% end %>
   </tr>
    <tr>
<% if permitted_to? :edit, amendment %>
    <td><%= link_to t('amendments.edit'), edit_amendment_path(amendment) %></td>
<% end %>
<% if permitted_to? :destroy, amendment %>
    <td><%= link_to t('amendments.destroy'), amendment, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
</table>
</div>
<% end %>
