<div id="intro_text">
	<h3>Why Digital Direct Democracy?</h3>
		<p>
			<table style="line-height: 150%;"><tr>
				<td style="text-align: justify;text-justify: newspaper;position: relative; top:-40px;">
				In a <a href='http://en.wikipedia.org/wiki/Democracy#Direct' target='_blank'>real democracy</a>, people decide themselves how to govern 
			        their country instead of relying on <a href='http://en.wikipedia.org/wiki/Particracy' target='_blank'>untrustworthy representatives</a>.
			        <a href='http://www.democratie-directe.be' target='_blank'>Our objective</a> is to bring <a href='http://en.wikipedia.org/wiki/Direct_democracy' target='_blank'> direct democracy</a> in Belgium, 
			        i.e. decisive, <a href='http://en.wikipedia.org/wiki/Initiative' target='_blank'> citizen-initiated initiatives </a><%= info_help('info_initiative') %> and 
			        <a href='http://en.wikipedia.org/wiki/Referendum' target='_blank'> referendums</a><%= info_help('info_referendum') %>.
			        This means that people vote directly on law proposals and propose new laws.</br></br>
			        			
			
			In addition, <a href='http://www.democratie-directe.be' target='_blank'>we</a> want to bring so-called <a href='http://www.participedia.net/wiki/Liquid_Democracy' target='_blank'>liquid democracy</a>.</br>
			        This allows voters to select a delegate who will vote for them when they want to. But the crucial point is that voters can change their delegate, 
			        or take their vote back at anytime! Also, anyone can become a delegate, including you...</br></br>
			
			
						In order to do this, we have created a political party without agenda: you will fill the blank!
						You can find more info on this <%= link_to "here", "http://www.democratie-directe.be" %>.<br>
						We also have a <%= link_to "list of candidates", candidates_path %> that will participate to the next communal elections (2012). We need more candidates. Don't hesitate to <a href="mailto:zenon.alex@gmail.com">
						contact us! </a> <br><br>
						
						
						
				</td>
				<td><img src='/images/engliquid.jpg' height='500' width='500'/></td>
			</tr></table>
			
		
			        This website is an example of how things would work in this system. But that's also an opportunity to propose ideas and debate among responsible citizens.
			        You can explore the website and use the help button (the little red 'i's) to learn how it works. You can also watch the <%= link_to "tutorial video", tutorial_video_url %>.</br>
		</p>
		
	</div>
