<% title "Homepage" %>
<div id="intro_text">
	<h1>Een echte democratie in België?</h1>
	<p>
		</br></br>
		<table style="line-height: 150%;"><tr>
			<td style="text-align: justify;text-justify: newspaper;position: relative; top:-40px;">
				In een <a href='http://nl.wikipedia.org/wiki/Directe_democratie' target='_blank'>echte democratie</a>, beslissen de burgers zelf hoe zij wensen dat hun land bestuurd wordt inplaats van te rekenen op <a href='http://nl.wikipedia.org/wiki/Particratie' target='_blank'>zogenaamde "volksvertegenwoordigers"</a>.
				<a href='http://www.directdemocracy.be' target='_blank'>Onze doelstelling</a> is dan ook om een <a href='http://nl.wikipedia.org/wiki/Directe_democratie' target='_blank'> directe democratie</a> in België in te voeren.
				Dit bij middel van beslissende <a href='http://nl.wikipedia.org/w/index.php?title=Bindend_referendum_op_volksinitiatief&action=edit&redlink=1' target='_blank'> initiatieven </a><%= info_help('info_initiative') %> en
				<a href='http://nl.wikipedia.org/wiki/Referendum' target='_blank'> referenda</a><%= info_help('info_referendum') %> op volksinitiatief.
				Dit betekent dat de burgers rechtsreeks stemmen over wetsvoorstellen, en zelf nieuwe wetsvoorstellen kunnen lanceren.</br></br>


				Bijkomend <a href='http://www.directdemocracy.be' target='_blank'>wensen we</a> de zogenaamde <a href='http://www.participedia.net/wiki/Liquid_Democracy' target='_blank'>vrije vertegenwoordiging</a> in te voeren als de burgers dit wensen.</br>
				Dit laat toe dat stemgerechtigde burgers een volmacht kunnen geven om in hun plaats te stemmen als zij dit wensen. Maar het essentiele verschil met de huidige toestand van gedwongen mandatering is dat stemgerechtigde burgers hun volmacht kunnen wijzigen of intrekken op elk moment
				, en desgevallend zelf stemmen!  Iedereen kan ook volmachthouder worden, uzelf inbegrepen...</br></br>


				Om dit te realiseren hebben we een politieke partij opgericht zonder programma: Het is aan u zelf om te beslissen!
				Meer info kan u <%= link_to "hier vinden", "http://www.directdemocracy.be" %>.<br>
				We hebben ook een <%= link_to "lijst van kandidaten", candidates_path %> die zullen deelnemen in de eerstvolgende gemeenteraadsverkiezingen (2012). Ziet u iets in ons voorstel en wenst u kandidaat te zijn geef een seintje op <a href="mailto:info@ikbestuur.be">
					contact us! </a> <br><br>



				</td>
				<td><img src='/images/engliquid.jpg' height='500' width='500'/></td>
			</tr></table>


			http://www.iniref.be/ is een voorbeeld van de werking in dit systeem. <%= info_help('info_future_website') %> Het geeft ook de gelegenheid om ideeën te lanceren en te discuteren met burgers die zelf de verantwoordelijkheid wensen op te nemen.
			U kan op de http://www.iniref.be/ website navigeren met behulp van de help button (the little red 'i's) om zo een inzicht te krijgen hoe het systeem werkt. U kan ook de <%= link_to "tutorial video", tutorial_video_url %>bekijken .</br>
		</p>

	</div>
