<% @amendments = bill.amendments.not_blank %>

<h2><%= t("amendments.title") %></h2>

<% if @amendments.count > 0 %>
	
	<% if @amendments.all_validated.count > 0 %>
	<h3><%= t("amendments.validated") %></h3>

	
		<% for alter in @amendments.all_validated %>
			<div id="index-column">
				<%= link_to image_tag(alter.photo.url(:thumbnail)), alter %>
			</div>
			<div id="index-column">
				<%= link_to eval("alter.name_#{I18n.locale}"), alter, :class => "link" %>
			</div>
			<div id="index-column">
				<p><%= pluralize(alter.tally_all_votes,t("initiatives.votes")) %>
				<% unless alter.percent_approval.nan? %>
					, <%= alter.percent_approval.to_i %>% <%= t("initiatives.approval") %></p>
					<p><%= raw score_meter(alter.percent_approval/100.0,120) %>
				<% end %>
				</p>
			</div>
			<div id="index-large-column" class="bill-text-link">
			<p>"<%= link_to truncate(eval("alter.content_#{I18n.locale}"), :length => 250), alter %>"</p>
			</div>
			<div class="clear"></div>
			<div class="spacer"></div>
		<% end %>
	<% end %>


	<% if @amendments.all_not_validated.count > 0 %>
		<h3><%= t("amendments.not_validated") %></h3>

		<% for alter in @amendments.all_not_validated %>
			<div id="index-column">
				<%= link_to image_tag(alter.photo.url(:thumbnail)), alter %>
			</div>
			<div id="index-column">
				<%= link_to eval("alter.name_#{I18n.locale}"), alter, :class => "link" %>
			</div>
			<div id="index-column">
				<p><%= t("#{params[:controller]}.current_validations") %>: <%= alter.validations_count %></p>
			</div>
			<div id="index-large-column" class="bill-text-link">
			<p>"<%= link_to truncate(eval("alter.content_#{I18n.locale}"), :length => 250), alter %>"</p>
			</div>
			<div class="clear"></div>
			<div class="spacer"></div>
		<% end %>
	<% end %>

<% else %>
<p><%= t("amendments.none") %></p>
<% end %>
<div class="spacer"></div>
<% if bill.current_phase == 3 %>
	<% if permitted_to? :create, Amendment.new %>
		<p style="position:relative;top:-20px;"><%= link_to t('amendments.new'), new_amendment_path(eval(":#{bill.class.name.downcase}_id") => bill.id), :class => "button", :title => t('tooltips.submit_amendment') %></p>
	<% else %>
		<p><%= t("#{params[:controller]}.want_amendment") %>: <%= link_to t('layout.sign_in'), authentications_path, :class => "button" %></p>
	<% end %>
<% end %>

