<h2><%= t("layout.points_of_view") %><%= info_help('argument_title') %></h2>
	<div id="index-content">
		<div id="index-column" style="height:40px;"></div>
		<div id="index-large-column" style="height:40px;">
					<h3 id="pro_title"><%= t(:pro_str) %></h3>
		</div>
		<div id="index-large-column" style="height:40px;position:relative;left:-55px;">
			<h3 id="con_title"><%= t(:con_str) %></h3>
		</div>
		<div class="clear"></div>
		<div id="index-column"></div>
		<div id="index-large-column">
			<p><% if commentable.arguments.all_pros.length > 0 %>
					<% commentable.arguments.all_pros.sort {|a,b| b.score <=> a.score }.each_with_index do |arg, index| %>
						<%= render(:partial => "layouts/arguments_collection", :locals => { :commentable => commentable, :argument => arg, :arguments_collection_counter => index }) %>
					<% end %>
				<% else %>
					<%= t(:no_arg_text) %>
				<% end %></p>
		
			<% if user_signed_in? %>
				<% if Argument.find_by_user_id_and_argumentable_id_and_argumentable_type(current_user.id,commentable.id,commentable.class.name).nil? %>
					<p><%= link_to t(:create_arg), {:controller => :arguments, :action => :new, :argumentable => commentable.class.name, :argumentable_id => commentable.id, :side => "pro" }, :class => "link", :title => t('tooltips.submit_argument') %></p>
				<% end %>
			<% else %>
				<p><%= t("#{params[:controller]}.want_argument") %>: </br><%= link_to t('layout.sign_in'), authentications_path, :class => "button" %></p>
			<% end %>

		</div>
		<div id="last-index-large-column">
			<p><% if commentable.arguments.all_cons.length > 0 %>
				<% commentable.arguments.all_cons.sort {|a,b| b.score <=> a.score }.each_with_index do |arg, index| %>
					<%= render(:partial => "layouts/arguments_collection", :locals => { :commentable => commentable, :argument => arg, :arguments_collection_counter => index }) %>
				<% end %>
			<% else %>
				<%= t(:no_arg_text) %>
			<% end %></p>
			
			<% if user_signed_in? %>
				<% if Argument.find_by_user_id_and_argumentable_id_and_argumentable_type(current_user.id,commentable.id,commentable.class.name).nil? %>
					<p><%= link_to t(:create_arg), {:controller => :arguments, :action => :new, :argumentable => commentable.class.name, :argumentable_id => commentable.id, :side => "con"}, :class => "link", :title => t('tooltips.submit_argument') %></p>
				<% end %>
			<% else %>
					<p><%= t("#{params[:controller]}.want_argument") %>: </br><%= link_to t('layout.sign_in'), authentications_path, :class => "button" %></p>
			<% end %>
		</div><div class="clear"></div>
</div>
