<table style="padding-left:40px;">
	<tr>
<td><%= link_to image_tag(User.find_by_id(argument.user_id).photo, :size => "40x40"), User.find_by_id(argument.user_id) %></td>

<td style="width:200px;"><%= link_to argument.title, argument, :class => "link" %></td>
<td><%= pluralize(argument.tally_all_votes,t("#{@controller}.votes")) %>
<% unless argument.percent_approval.nan? %>
	, <%= argument.percent_approval.to_i %>% <%= t("#{@controller}.approval") %>
<% end %>
</td></tr></table>