
<table style="padding-left:40px;">
	<tr>
<td>
	<% if argument.user %>
		<%= link_to image_tag(argument.user.photo, :size => "40x40"), argument.user %>
	<% end %>
</td>

<td style="width:200px;"><%= link_to argument.title, argument, :class => "link" %></td>
<td><%= pluralize(argument.tally_all_votes,t("#{params[:controller]}.votes")) %>
<% unless argument.percent_approval.nan? %>
	, <%= argument.percent_approval.to_i %>% <%= t("#{params[:controller]}.approval") %>
<% end %>
</td></tr>
<tr>
	<td colspan=3>
		<div class="bill-text-link"  style="position:relative;top:-10px;left:-10px;">
		<p>"<%= link_to truncate(argument.content, :length => 150), argument %>"</p>
		</div>
	</td>
</tr></table>