<li>
	<div id="pro_number"class="argument_content">
		<%= simple_format "#{arguments_collection_counter+1}. #{argument.content}" %>

	</div>

	<div >
		<%= t(:created_by) %>: <%= h User.find_by_id(argument.user_id).displayName %><br>
		<table>
			<tr>
				<td>

					<tr>
												
						<td class="argument_agree"><%= link_to t(:agree_str), {:controller => :arguments, :action => :aye, :id => argument.id}, :class => "remote-agree" %></td>
						<td class="argument_disagree"><%= link_to t(:disagree_str), {:controller => :arguments, :action => :nay, :id => argument.id}, :class => "remote-disagree" %></td>
						
						<td><% if permitted_to? :delete, argument %>
							<%= link_to t(:delete_str), polymorphic_path([commentable,argument]), :method => :delete, :class => 'remote-delete' %>
							<% end %></td>
						</tr>

					</td>

				</tr>
			</table>
		</div>
		<td>(<%= argument.votes_count %> <%= t('referendums.votes') %> , <%= vote_tally(argument) %>% <%= t('referendums.approval') %>)</td>
	</li>
