<div id="bill-header">
	<% title eval("bill.name_#{I18n.locale}") %>
	<div id="bill-header-icon"><%= image_tag bill.photo.url(:thumbnail) %></div>
	<div id="bill-header-content">
		<div id="bill-header-title"><h3><%= eval("bill.name_#{I18n.locale}").capitalize %></h3></div>
		<div id="bill-geography">
			
				<% if (params[:controller] == "amendments") %>
					<h4 style="display:inline;"><%= t("#{params[:controller]}.original_bill") %>: </h4>
					<%= link_to eval("bill.amendmentable.name_#{I18n.locale}"), bill.amendmentable, :class => "link" %>
				<% else %>
				<h4>
					<% if bill.level == "4" %>
						<%= t("#{params[:controller]}.level4") %>
					<% end %>
					<% if bill.level == "3" %>
						<%= t("#{params[:controller]}.level3") %>: <br><strong><%= bill.region.name %></strong>
					<% end %>
					<% if bill.level == "2" %>
						<%= t("#{params[:controller]}.level2") %>: <br><strong><%= bill.province.name %></strong>
					<% end %>
					<% if bill.level == "1" %>
						<%= t("#{params[:controller]}.level1") %>: <br><strong><%= bill.commune.name %></strong>
					<% end %>
				</h4>
				<% end %>
			
		</div>
		<div id="bill-phase">
			<% if bill.current_phase == 5 %>
				<% unless bill.result.nil? %>
					<% if bill.result.winner %>
						<div id="bill-winner">
							<%= t("layout.bill_won") %>
						</div>
					<% else %>
						<div id="bill-loser">
							<%= t("layout.bill_lost") %>
						</div>
					<% end %>
				<% end %>
			<% else %>
				<h4><%= t("#{params[:controller]}.phase#{bill.current_phase}") %><h4>
			<% end %>
		</div>
		<div id="bill-category">
			<% unless (params[:controller] == "amendments") || bill.category.nil?  %>
				<p><span style="display:inline-block; vertical-align:middle;"><%= link_to image_tag(bill.category.photo.url(:thumbnail)), bill.category %>
				<%= link_to eval("bill.category.name_#{I18n.locale}"), bill.category, :class => "link" %></span></p>
			<% end %>
		</div>
	</div>
</div>



<%= render :partial => "layouts/bill_sidebar", :locals => { :bill => bill, :delegated_vote => delegated_vote } %>


<div id="bill-content">
	<div class="border-div">
		<div class="bill-text">
			<%= raw eval("RedCloth.new(bill.content_#{I18n.locale}).to_html") %>
		</div>
		<% if params[:controller] == "referendums" %>
			<%= pluralize(bill.politicians.count,t("#{params[:controller]}.author")) %>:
			<% for p in bill.politicians %>
				<%= link_to image_tag(p.photo.url(:thumbnail), :class => "user-image"), p %>
			<% end %>
			<%= t("#{params[:controller]}.created_at") %><%= bill.created_at.strftime("%e %B, %Y") %>
		<% else %>
			<% if bill.user %>
			<p><%= t("#{params[:controller]}.author") %>:
				<%= link_to image_tag(bill.user.photo, :size => "40x40", :class => "user-image"), bill.user %>
				<%= link_to bill.user.displayName, bill.user, :class => "link" %></p>
			<p><%= t("#{params[:controller]}.created_at") %><%= bill.created_at.strftime("%e %B, %Y") %></p>
			<% else %>
				<p><%= t("#{params[:controller]}.author") %>:
					<%= image_tag("unknownuser.jpg", :size => "40x40", :class => "user-image") %>
					<%= t('layout.missing_user') %>
				<p><%= t("#{params[:controller]}.created_at") %><%= bill.created_at.strftime("%e %B, %Y") %></p>
			<% end %>
		<% end %>
	<% if bill.current_phase == 1 || (user_signed_in? && current_user.roles.first.name == "admin") %>
		<% if permitted_to? :edit, bill %>
			<%= link_to t("#{params[:controller]}.edit"), eval("edit_#{params[:controller].singularize}_path(bill)"), :class => "button" %>
		<% end %>
		<% if permitted_to? :destroy, bill %>
			<%= link_to t(:delete_bill_str), bill, :method => :delete, :confirm => t('layout.delete_bill'), :class => "button" %>
		<% end %>
	<% end %>
	</br>
	</br>
	<div class="fb-like" data-href="<%= request.fullpath %>" data-send="true" data-width="450" data-show-faces="true" data-action="recommend"></div>
</div>
</div>



