<h2> <%= t(:comment_title) %></h2>
<% form_for([commentable, Comment.new], :url => eval("#{commentable.class.name.downcase}_comments_path(commentable,Comment.new)") ) do |f| %>
		<div class="field">
			<%= f.label t(:new_comment) %><br>
			<%= f.text_area :content, :class => "comment_field" %>
			<div class="recaptcha">
		<%= recaptcha_tags %>
		</div>
		</div>
		<div class="actions">
		<%= f.submit t(:submit_str) %>
		</div>
<% end %>

<div id="comments-discussion">
	
	<% for comment in commentable.comments.current_lg(I18n.locale) %>
	
	<div class = "comment">
		<div id = "comment-header">
			<h4><%= link_to User.find_by_id(comment.user_id).displayName, User.find_by_id(comment.user_id), :class => "link" %></h4>
			<%= link_to image_tag(User.find_by_id(comment.user_id).photo, :size => "60x60"), User.find_by_id(comment.user_id) %>
			<p><em><%= comment.created_at.strftime("%e %B, %Y") %></em></p>
		</div>
		<div id = "comment-content">
			<%= simple_format "'#{comment.content}'" %>
			<% unless current_user.nil? %>
				<% if (comment.user_id == current_user.id) | permitted_to?(:delete, comment) %>
					<%= link_to t(:delete_comment), {:controller => :comments, :action=>:destroy, :id => comment.id}, :method => :delete, :confirm => t(:are_you_sure_str),  :class => "link" %>
				<% end %>
			<% end %>
		</div>
		<div class="clear"></div>
		<div id = "comment-header">
			<% if comment.exclusion_requests > 0 %>
				<p style="font-size:9px">! <%= t(:exclusion_requests_str) %>
				<% comment.exclusions.each do |l| %>
				<span style="color:#F00">X</span></p>
				<%end %>
			<% end %>
			&nbsp;
		</div>
		<div id ="comment-options">
			<% if permitted_to? :create, Comment.new %>
				<%= link_to t(:reply_to_comment_str), {:controller => :comments, :action => :reply_to_comment, :id => comment.id, :current_url => request.request_uri }, :class => "button" %>
			<% end %>
			<%= link_to t(:com_exclude_str), {:controller => :comments, :action => :exclude_comment, :id => comment.id}, :title => t(:com_exclude_str), :class => "button" %></p>
		</div>
		<div class="clear"></div>
		<%= render :partial => 'layouts/replies', :collection => comment.replies, :as => :reply %>
	</div>
	
	<% end %>
</div>
