<div id="featured-content">
<h3><%= t("layout.featured_bills") %></h3>
<% if @featured_bills.count == 0 %>
<br/><br/>
<h5><%= t("#{params[:controller]}.no_bill") %></h5>
</div>
<% else %>
<% @featured_bills.each do |bill| %>
<div id="featured-element">
	<div id="featured-column"><%= link_to image_tag(bill.photo.url(:thumbnail)), bill %></div>
	<div id="featured-large-column" class="bill-text-link">
		<%= link_to eval("bill.name_#{I18n.locale}"), bill, :class => "link" %>
		<div id="bill-phase">
			<h4><%= t("#{bill.class.name.downcase.pluralize}.phase#{bill.current_phase}") %></h4>
		</div>
	</div>

		<div id="featured-large-column" class="bill-text-link">
			<p>"<%= link_to strip_tags(raw(truncate(eval("RedCloth.new(bill.content_#{I18n.locale}).to_html"), :length => 200))), bill %>"</p>
		</div>

		<div class="clear"></div>
		<div class="spacer"></div>
	</div>
	<% end %>
</div>
<% end %>