<div id="index-content">
<% if @bills.count == 0 %>
<br/><br/>
<h5><%= t("#{params[:controller]}.no_bill") %></h5>
</div>
<% else %>
<% @bills.each do |bill| %>
<div id="index-element">
	<% if false %>
	<div id="index-column">
		<% unless bill.category.nil? %>
		<%= link_to image_tag(bill.category.photo.url(:thumbnail), :title => eval("bill.category.name_#{I18n.locale}")), bill.category %>
		<% end %>
	</div>
	<% end %>
	<div id="index-column"><%= link_to image_tag(bill.photo.url(:thumbnail)), bill %>
		<h4  title="<%= raw t('tooltips.layout.bill_level') %>">
			<% if bill.level == "4" %>
			<%= t("#{params[:controller]}.level4") %>
			<% end %>
			<% if bill.level == "3" %>
			<%= t("#{params[:controller]}.level3") %>: <%= bill.region.name %>
			<% end %>
			<% if bill.level == "2" %>
			<%= t("#{params[:controller]}.level2") %>: <%= bill.province.name %>
			<% end %>
			<% if bill.level == "1" %>
			<%= t("#{params[:controller]}.level1") %>: <%= bill.commune.name %>
			<% end %>
		</h4>
		</div>
	<div id="index-column">
		<p><%= link_to eval("bill.name_#{I18n.locale}"), bill, :class => "link" %></p>
		<div id="bill-phase" title="<%= raw t('tooltips.layout.bill_phase') %>">
			<h4><%= t("#{params[:controller]}.phase#{bill.current_phase}") %></h4>
		</div>
		
		<p><% if permitted_to? :edit, bill %>
			<%= link_to t("#{params[:controller]}.edit"), eval("edit_#{params[:controller].singularize}_path(bill)"), :class => "button" %>
			<% end %>
			<% if permitted_to? :destroy, bill %>
			<%= link_to t(:delete_bill_str), bill, :method => :delete, :confirm => t('layout.delete_bill'), :class => "button" %>
			<% end %></p>


		</div>


		<% if bill.current_phase == 1 %>
		<div id="index-column">
			<div id="bill-time" title="<%= "#{humanize_duration(bill.time_left_to_edit)}  #{t(:left_to_edit)}" %>">
				<div class="time_chart">
					<div class="remaining_time"><%= bill.time_left_to_edit %></div>
					<div class="passed_time"><%= bill.editing_time_elapsed %></div>
				</div>	
			</div>
		</div>
		<% end %>
		
		<% if bill.current_phase == 2 %>
		<div id="index-column">
			<div id="bill-time" title="<%= "#{humanize_duration(bill.time_left_to_validate)}  #{t(:left_to_validate)}" %>">
				<div class="time_chart">
					<div class="remaining_time"><%= bill.time_left_to_validate %></div>
					<div class="passed_time"><%= bill.validating_time_elapsed %></div>
				</div>	
			</div>
			<div class="clear"></div>
			<h5><%= t("#{params[:controller]}.current_validations") %>: <%= bill.validations_count %></h5>
		</div>
		<% end %>
		
		<% if bill.current_phase == 3 %>
		<div id="index-column">
			<div id="bill-time" title="<%= "#{humanize_duration(bill.time_left_to_amend)}  #{t(:left_to_amend)}" %>">
				<div class="time_chart">
					<div class="remaining_time"><%= bill.time_left_to_amend %></div>
					<div class="passed_time"><%= bill.amending_time_elapsed %></div>
				</div>	
			</div>
			<div class="clear"></div>
			<h5><%= pluralize(bill.amendments.count, t(:amendment)) %></h5>
		</div>
		<% end %>
		
		<% if bill.current_phase == 4 %>
		<div id="index-column">
			<div id="bill-time" title="<%= "#{humanize_duration(bill.time_left_to_vote)}  #{t(:left_to_vote)}" %>">
				<div class="time_chart">
					<div class="remaining_time"><%= bill.time_left_to_vote %></div>
					<div class="passed_time"><%= bill.voting_time_elapsed %></div>
				</div>	
			</div>
			<div class="clear"></div>
			<h5><%= pluralize(Ranking.tally_all_ranks(bill), t("initiatives.votes")) %></h5>
		</div>
		<% end %>
		
		<% if bill.current_phase == 5 %>
		<div id="index-column" title="<%= raw t('tooltips.layout.bill_results') %>">
			<% unless bill.result.nil? %>
				<% if bill.result.winner %>
					<div id="bill-winner">
						<%= t("layout.bill_won") %>
					</div>
					<div class="clear"></div>
				<% else %>
					<div id="bill-loser">
						<%= t("layout.bill_lost") %>
					</div>
					<div class="clear"></div>
					<br/>
					<% unless bill.result.condorcet_winner.nil? %>
						<% all_bills = Ranking.all_related_bills(bill) %>
						<% unless bill.result.condorcet_winner > all_bills.count %>
						<div id="bill-winner">
							<%= link_to eval("all_bills[bill.result.condorcet_winner].name_#{I18n.locale}"), all_bills[bill.result.condorcet_winner] %> <%= t("layout.won_vote") %>
						</div>
						<% end %>
					<% end %>
					<div class="clear"></div>
					
				<% end %>
			<% end %>
			
		</div>
		<% end %>
		
		
		<% if false %>
			<% unless bill.percent_approval.nan? %>
			<div id="index-column">
				<p><%= pluralize(bill.tally_all_votes,t("#{params[:controller]}.votes")) %> , <%= bill.percent_approval.to_i %>% <%= t("#{params[:controller]}.approval") %></p>
				<p><%= raw score_meter(bill.percent_approval/100.0,120) %></p>
			</div>
			<% else %>
			<div id="index-column"><p><%= pluralize(bill.tally_all_votes,t("#{params[:controller]}.votes")) %></p></div>
			<% end %>
		<% end %>




		<div id="index-large-column" class="bill-text-link">
			<p>"<%= link_to strip_tags(raw(truncate(eval("RedCloth.new(bill.content_#{I18n.locale}).to_html"), :length => 400))), bill %>"</p>
		</div>

		<div class="clear"></div>
		<div class="spacer"></div>
	</div>
	<% end %>
</div>
<% end %>