<META NAME="Author" LANG="<%= I18n.locale %>" CONTENT="<%= t('layout.CFDD') %>"> 
<META NAME="Publisher" CONTENT="<%= t('layout.CFDD') %>"> 
<META NAME="Reply-to" CONTENT="info@jegouverne.be">
<META NAME="Description" CONTENT="<%= t('layout.intro_title') %>"> 
<META NAME="Keywords" CONTENT="<%= t('layout.keywords') %>">
	
	
<% if request.domain == "jegouverne.be" %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=287319927971980";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% elsif request.domain == "ikbestuur.be" %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=204872852931427";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% elsif request.domain == "heroku.com" %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=112773305478994";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% end %>

<% if params[:controller] == "initiatives" && params[:action] == "show" %>
<meta property="og:title" content='<%= eval("@initiative.name_#{I18n.locale}") %>'/>
<meta property="og:type" content="article"/>
<meta property="og:url" content='<%= "https://votingmodule.heroku.com#{url_for(@initiative)}" %>'/>
<meta property="og:image" content='<%= @initiative.photo.url("small") %>'/>
<meta property="og:site_name" content="<%= t('homepage.title') %>"/>
<meta property="fb:admins" content="539329259"/>
<meta property="og:description"
          content='<%= truncate(eval("@initiative.content_#{I18n.locale}"), :length => 200) %>'/>
<% end %>
<% if params[:controller] == "referendums" && params[:action] == "show" %>
<meta property="og:title" content='<%= eval("@referendum.name_#{I18n.locale}") %>'/>
<meta property="og:type" content="article"/>
<meta property="og:url" content='<%= "https://votingmodule.heroku.com#{url_for(@referendum)}" %>'/>
<meta property="og:image" content='<%= @referendum.photo.url("small") %>'/>
<meta property="og:site_name" content="<%= t('homepage.title') %>"/>
<meta property="fb:admins" content="539329259"/>
<meta property="og:description"
          content='<%= truncate(eval("@referendum.content_#{I18n.locale}"), :length => 200) %>'/>
<% end %>
<% if params[:controller] == "amendments" && params[:action] == "show" %>
<meta property="og:title" content='<%= eval("@amendment.name_#{I18n.locale}") %>'/>
<meta property="og:type" content="article"/>
<meta property="og:url" content='<%= "https://votingmodule.heroku.com#{url_for(@amendment)}" %>'/>
<meta property="og:image" content='<%= @amendment.photo.url("small") %>'/>
<meta property="og:site_name" content="<%= t('homepage.title') %>"/>
<meta property="fb:admins" content="539329259"/>
<meta property="og:description"
          content='<%= truncate(eval("@amendment.content_#{I18n.locale}"), :length => 200) %>'/>
<% end %>
