<div id="preview">
	<h3><%= t('initiatives.preview') %></h3>
	<% unless bill.name_en.blank? %>
		<h4><%= t(:english_head) %></h4>
		<div id="preview-header">
			<%= image_tag bill.photo.url("small") %>
		</div>
		<div id="preview-content">
			<h3><%= bill.name_en %></h3>
			<%= raw RedCloth.new(bill.content_en).to_html %>
		</div>
	<% end %>
	<% unless bill.name_fr.blank? %>
		<div id="preview-header">
			<%= image_tag bill.photo.url("small") %>
		</div>
		<div id="preview-content">
			<h4><%= t(:french_head) %></h4>
			<h3><%= bill.name_fr %></h3>
			<%= raw RedCloth.new(bill.content_fr).to_html %>
		</div>
	<% end %>
	<% unless bill.name_nl.blank? %>
		<div id="preview-header">
			<%= image_tag bill.photo.url("small") %>
		</div>
		<div id="preview-content">
			<h4><%= t(:nederland_head) %></h4>
			<h3><%= bill.name_nl %></h3>
			<%= raw RedCloth.new(bill.content_nl).to_html %>
		</div>
	<% end %>
	<div class="clear"></div>
</div>
<br />
<br />
<% if permitted_to? :destroy, bill %>
	<%= link_to t(:cancel_bill), bill, :method => :delete, :class => "button" %>
<% end %>
<br/>
<br/>
<h2><%= t('initiatives.modify') %></h2>