<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><%= yield(:title) || "Untitled" %></title>
<%= render 'layouts/stylesheets' %>
<%= render 'layouts/scripts' %>  

  <%= csrf_meta_tag %>
  <%= yield(:head) %> 
</head>
<body class="bp main-layout">

	
	<div id="container">
		
		
		<div id="sidebar-left">
			<div style="height: 100px;"></div>
			<ul>
					<%= link_to language_fra_url do %>
						<li><img width="20" height="20" border="" align="middle" alt="" src="/images/bt_fr.gif"></li>
					<% end %>
					<%= link_to language_ndl_url do %>
						<li><img width="20" height="20" border="" align="middle" alt="" src="/images/bt_nl.gif"></li>
					<% end %>
					<%= link_to language_eng_url do %>
						<li><img width="20" height="20" border="" align="middle" alt="" src="/images/bt_us.gif"></li>
					<% end %>
					<%= link_to language_tutorial_url do %>
						<li><img width="20" height="20" border="" align="middle" alt="" src="/images/bt_tut.gif" title="Tutorial"></li>
					<% end %>
			</ul>
			<ul>
				<li><%= link_to image_tag("citoyens.jpg",:size => "60x60"), initiatives_path %></li>
				<li><%= link_to image_tag("partis-politiques-belges.jpg",:size => "60x60"), referendums_path %></li>
			</ul>
		</div>
		<div id="container2">
			<div id="header">
				<h1>
				<%= link_to t(:headtitle), root_path %>
				</h1>
			</div>
			<div id="flash">
	      		<% flash.each do |name, msg| %>
	        		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	      		<% end %>
			</div>
			
			<div id="tutorial">
				<% if cookies[:tutorial] == "true" %>
				<p><%= t("tutorial.#{controller.controller_name}.#{controller.action_name}") %></p>
				<p><%= link_to t('layout.disactivate_tutorial'), language_tutorial_url %></p>
				<% end %>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		  
		</div>
		<div id="sidebar-right">
			<div style="height: 100px;"></div>
						<% if user_signed_in? %>
						<p>
							<% if current_user.photo.blank?%>
								<%= link_to t('layout.add_photo'), edit_user_registration_path, :class => "link" %>
							<% else %>
								<%= link_to image_tag(current_user.photo, :size => "30x30", :class => "user-image"), user_path(current_user) %>
							<% end %>
							</p>
				          	<p><%= link_to current_user.email, user_path(current_user), :class => "link" %></p>
				          	<p><%= link_to t('layout.sign_out'), destroy_user_session_path, :class => "button" %></p>
				        <% else %>
				          <p><%= link_to t('layout.sign_in'), authentications_path, :class => "button" %></p>
				        <% end %>
		</div>
		<div id="footer">
		</div>
	 </div>
</body>
</html>
