<% if false %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<% end %>
<html xmlns="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title><%= yield(:title) || "Untitled" %></title>
<%= render 'layouts/stylesheets' %>
<%= render 'layouts/scripts' %>  
<%= render 'layouts/open_graph' %>  
	<% if (cookies[:info_active] == "true") %>
		<script src="/javascripts/tooltips.js" type="text/javascript"></script>
	<% else %>
		<script src="/javascripts/no_tooltips.js" type="text/javascript"></script>
	<% end %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %> 
</head>
<body class="bp main-layout">
	<div id="container">
		<div id="header">
			<div id="header-preinfo">
				<%= raw t('layout.preinfo') %>
			</div>
			<div id="header-title">
				<h2><%= link_to image_tag("new_title_#{I18n.locale}.png", :size => "500x60"), main_root %> beta</h2>
			</div>
			
			<% unless @subdom_level.blank? %>
				<span id="header-subtitle">
					<%= @subdom_level.name %>
				
				</span>
					
					<% unless @subdom_level.candidates.blank? %>
						<table class="candidate">
							
							<tr><td>
								<div>
								<%= link_to image_tag(@subdom_level.candidates[0].photo.url(:thumbnail)), @subdom_level.candidates[0] %>
								</div>
							</td></tr>
							<tr><td>
								<%= link_to @subdom_level.candidates[0].name, @subdom_level.candidates[0], :class => "link" %>
							</td></tr>						
							<tr><td style="width: 100px;">
								<%= t('candidates.candidate_for') %><%= @subdom_level.name %><%= info_help('info_candidate') %>
							</td></tr>
						</table>
					<% else %>
					<table class="candidate" style="border: 1px solid #ccc;"><tr><td>
						<%= raw t('layout.no_candidate') %><%= info_help('info_candidate') %>
					</td></tr></table>
					<% end %>
					
					<br/><br/>
			<% end %>
			
			<div id="language-header">
			<span id="postal_code_form">
					<form>
						<%= text_field_tag :co_postal_code, t("layout.commune_search"), :title => t("info.commune_search") %>
					</form>
			</span>
			<span id="lang"><%= link_to image_tag("bt_fr.png",:size => "18x18"), language_fra_url %></span>
			<span id="lang"><%= link_to image_tag("bt_nl.png",:size => "18x18"), language_ndl_url %></span>
			<span id="lang"><%= link_to image_tag("bt_en.png",:size => "18x18"), language_eng_url %></span>
			<% if cookies[:info_active] == "true" %>
				<span id="lang">
					<%= link_to image_tag("bt_noti.png",:size => "18x27"), language_info_url, :title => t('info.disactivate_info') %>
				</span>
			<% else %>
				<span id="lang">
					<%= link_to image_tag("bt_i.png",:size => "18x27"), language_info_url, :title => t('info.activate_info') %>
				</span>
			<% end %>
			</div>
			<div id="menu">
				
				<%= link_to info_homepage_url do %>
				<div id="menu-item" <% if controller_path == "info" %> class="selected_item" <% end %>>
				<div id="menu-title"><%= t('info.title') %><%= info_help('info_menu') %></div>
				</div>
				<% end %>
				<%= link_to initiatives_path do %>
				<div id="menu-item" <% if controller_path == "initiatives" %> class="selected_item" <% end %>>
				<div id="menu-title"><%= t('initiatives.title2') %><%= info_help('initiative_menu') %></div>
				</div>
				<%end %>
				<%= link_to referendums_path do %>
				<div id="menu-item" <% if controller_path == "referendums" %> class="selected_item" <% end %>>
				<div id="menu-title"><%= t('referendums.title2') %><%= info_help('referendum_menu') %></div>
				</div>
				<% end %>
				<%= link_to tutorial_video_url do %>
				<div id="menu-item" <% if controller_path == "tutorial" %> class="selected_item" <% end %>>
				<div id="menu-title"><%= t('tutorial.title') %><%= info_help('tutorial_menu') %></div>
				</div>
				<% end %>
				<div class="clear"></div>
			</div>
			
		</div>
		<div class="clear"></div>
		
		<div id="container2">
			<% if (cookies[:choose_lang] == "true") %>
			<div id="overlay-intro">
				<h2><%= image_tag("hand_white.png", :size => "30x45") %> &nbsp;&nbsp; <%= t('layout.intro_title') %></h2>
				
				<div>
					<span id="lang"><%= link_to image_tag("bt_fr.png",:size => "36x36"), language_fra_url %></span>
					<span id="lang"><%= link_to image_tag("bt_nl.png",:size => "36x36"), language_ndl_url %></span>
					<span id="lang"><%= link_to image_tag("bt_en.png",:size => "36x36"), language_eng_url %></span>
				</div>

			</div>
			<% end %>
			<div id="flash">
	      		<% flash.each do |name, msg| %>
	        		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	      		<% end %>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		  	<div id="sidebar-right">
					</br>
					<div id="user_info">
						<h3><%= info_help('your_profile_title') %><%= t("layout.user_info") %> 
							<% if user_signed_in? %><% if current_user.photo.blank? %>
								<%= link_to t('layout.add_photo'), edit_user_registration_path, :class => "link" %>
							<% else %>
								<%= link_to image_tag(current_user.photo, :size => "30x30", :class => "user-image"), user_path(current_user) %>
							<% end %>
							<% end %>
						</h3>
							<% if user_signed_in? %>
								<p><%= link_to current_user.displayName, user_path(current_user), :class => "link" %></p>
								<% if current_user.commune.nil? %>
									<%= link_to t('layout.add_postal_code'), edit_user_registration_path, :class => "link" %>
								<% else %>
									<p><%= current_user.commune.name %></p>
								<% end %>
								<%= render :partial => "layouts/user_details" %>
								
					        	<p><%= link_to t('layout.sign_out'), destroy_user_session_path, :class => "button" %></p>
					        <% else %>
					          	<p><%= link_to t('layout.sign_in'), authentications_path, :class => "button" %></p>
					        <% end %>
					
							<%= render "layouts/current_user_bills" %>
					</div>
					<div id="featured">
						<%= render "layouts/featured" %>
					</div>
			</div>
		</div>
		<div id="feedback">
			<div id="feedbackTag"><%= t(:feedback) %></div>
			<div id="feedbackForm">
				<%= form_tag(:controller => "pages", :action => "send_message", :method => "get") do %>
				<div class="field">
					<%= label_tag t(:new_message) %><br>
					<%= text_area_tag :message, nil, :class => "comment_field" %>
				</div>
				<div class="actions">
					<%= submit_tag t(:submit_str) %>
				</div>
				<% end %>
			</div>
		</div>
		<div id="footer">
			<%= raw(t('layout.footer')) %>
		</div>
		<div class="clear"></div>
	 </div>
</body>
</html>
