<% if false %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<% end %>
<html xmlns="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title><%= yield(:title) || "Untitled" %></title>
<%= render 'layouts/stylesheets' %>
<%= render 'layouts/scripts' %>  
<%= render 'layouts/open_graph' %>  
	<% if (cookies[:tutorial_active] == "true") %>
		<script src="/javascripts/tooltips.js" type="text/javascript"></script>
		<% if I18n.translate("tutorial.#{params[:controller]}.#{params[:action]}").index("translation missing").nil? %>
			<script src="/javascripts/tutorial.js" type="text/javascript"></script>
		<% end %>
	<% else %>
		<script src="/javascripts/no_tooltips.js" type="text/javascript"></script>
	<% end %>

  <%= csrf_meta_tag %>
  <%= yield(:head) %> 
</head>
<body class="bp main-layout">
	<div id="container">
		<div id="header">
			<%= link_to image_tag("title_#{I18n.locale}.png"), "http://www.democratie-directe.be", :class => "title" %>
			<h1>
			<%= link_to t(:headtitle), root_path, :class => "subtitle" %>
			</h1>
			<% if cookies[:tutorial_active] == "true" %>
				<div id="tutorial_mode"><%= t('layout.tutorial_mode') %> | 
					<%= link_to t('layout.turn_tutorial_off'), language_tutorial_url %>
				</div>
			<% end %>
		</div>
		<div id="language-links" title="<%= raw t('tooltips.layout.languages') %>">
			<%= link_to language_fra_url do %>
					<img width="20" height="20" border="" align="middle" alt="" src="/images/bt_fr.gif">
			<% end %>
			<%= link_to language_ndl_url do %>
					<img width="20" height="20" border="" align="middle" alt="" src="/images/bt_nl.gif">
			<% end %>
			<%= link_to language_eng_url do %>
					<img width="20" height="20" border="" align="middle" alt="" src="/images/bt_us.gif">
			<% end %>
		</div>
		
		<div id="container2">
			
			
			<% if (cookies[:tutorial_active] == "true") && 
				I18n.translate("tutorial.#{params[:controller]}.#{params[:action]}").index("translation missing").nil? %>
			<div id="tutorial">
				<%= render :partial => "layouts/tutorial" %>
			</div>
			<% end %>
			<div id="content">
				<div id="menu">
					<div id="flash">
			      		<% flash.each do |name, msg| %>
			        		<%= content_tag :div, msg, :id => "flash_#{name}" %>
			      		<% end %>
					</div>
					<%= link_to initiatives_path do %>
					<div id="menu-item">
					<div id="menu-title"><%= t('initiatives.title2') %><%= info_help('initiative_menu') %></div>
					</div>
					<%end %>
					<%= link_to referendums_path do %>
					<div id="menu-item">
					<div id="menu-title"><%= t('referendums.title2') %><%= info_help('referendum_menu') %></div>
					</div>
					<% end %>
					<%= link_to language_tutorial_url do %>
					<div id="menu-item">
					<div id="menu-title"><%= t('tutorial.title') %><%= info_help('tutorial_menu') %></div>
					</div>
					<% end %>
					<div class="clear"></div>
				</div>
				<%= yield %>
			</div>
		  	<div id="sidebar-right">

					<div id="user_info">
						<h3><%= info_help('your_profile_title') %><%= t("layout.user_info") %> 
							<% if user_signed_in? %><% if current_user.photo.blank? %>
								<%= link_to t('layout.add_photo'), edit_user_registration_path, :class => "link" %>
							<% else %>
								<%= link_to image_tag(current_user.photo, :size => "30x30", :class => "user-image"), user_path(current_user) %>
							<% end %>
							<% end %>
						</h3>
							<% if user_signed_in? %>
								<p><%= link_to current_user.displayName, user_path(current_user), :class => "link" %></p>
								<% if current_user.commune.nil? %>
									<%= link_to t('layout.add_postal_code'), edit_user_registration_path, :class => "link" %>
								<% else %>
									<p><%= current_user.commune.name %></p>
								<% end %>
								<%= render :partial => "layouts/user_details" %>
								
					        	<p><%= link_to t('layout.sign_out'), destroy_user_session_path, :class => "button" %></p>
					        <% else %>
					          	<p><%= link_to t('layout.sign_in'), authentications_path, :class => "button" %></p>
					        <% end %>
					</div>
					<div id="featured">
						<%= render "layouts/featured" %>
					</div>
			</div>
		</div>
		<div id="feedback">
			<div id="feedbackTag"><%= t(:feedback) %></div>
			<div id="feedbackForm">
				<%= form_tag(:controller => "pages", :action => "send_message", :method => "get") do %>
				<div class="field">
					<%= label_tag t(:new_message) %><br>
					<%= text_area_tag :message, nil, :class => "comment_field" %>
				</div>
				<div class="actions">
					<%= submit_tag t(:submit_str) %>
				</div>
				<% end %>
			</div>
		</div>
		<div id="footer">
			
		</div>
	 </div>
</body>
</html>
